In [2]:
import pandas as pd

In [4]:
dados_original = {
    'Idade':[23, 45, 35, 50, 19, 37, 28, 43, 33, 55, 23],
    'Altura (cm)':[175, 180, 169, 172, 165, 177, 162, 168, 171, 160, 16],
    'Peso (kg)':[68, 75, 72, 80, 60, 74, 58, 70, 69, 73, 58]
}

In [6]:
dados_original_df_pd = pd.DataFrame(dados_original)

In [8]:
dados_original_df_pd.head()

   Idade  Altura (cm)  Peso (kg)
0     23          175         68
1     45          180         75
2     35          169         72
3     50          172         80
4     19          165         60

In [14]:
dados_original_df_pd.head(11)

    Idade  Altura (cm)  Peso (kg)
0      23          175         68
1      45          180         75
2      35          169         72
3      50          172         80
4      19          165         60
5      37          177         74
6      28          162         58
7      43          168         70
8      33          171         69
9      55          160         73
10     23           16         58

In [12]:
dados_original_df_pd.tail()

    Idade  Altura (cm)  Peso (kg)
6      28          162         58
7      43          168         70
8      33          171         69
9      55          160         73
10     23           16         58

In [16]:
dados_original_df_pd.describe()

           Idade  Altura (cm)  Peso (kg)
count  11.000000    11.000000  11.000000
mean   35.545455   155.909091  68.818182
std    11.775938    46.802681   7.291340
min    19.000000    16.000000  58.000000
25%    25.500000   163.500000  64.000000
50%    35.000000   169.000000  70.000000
75%    44.000000   173.500000  73.500000
max    55.000000   180.000000  80.000000

In [22]:
media_idade = dados_original_df_pd['Idade'].mean()
print(media_idade)

35.54545454545455

In [26]:
media_altura = dados_original_df_pd['Altura (cm)'].mean()
print(media_altura)

155.9090909090909

In [30]:
media_peso = dados_original_df_pd['Peso (kg)'].mean()
print(media_peso)

68.81818181818181

In [36]:
print(f'A média de idade é {media_idade}.')
print(f'A média de altura é {media_altura}.')
print(f'A média de peso é {media_peso}.')

A média de idade é 35.54545454545455.
A média de altura é 155.9090909090909.
A média de peso é 68.81818181818181.

In [50]:
print('A média de idade é ' + str(round(media_idade)) + '.')
print('A média de altura é '+ str(round(media_altura)) + '.')
print('A média de peso é '+ str(round(media_peso)) + '.')

A média de idade é 36.
A média de altura é 156.
A média de peso é 69.

In [54]:
mediana_idade = dados_original_df_pd['Idade'].median()
print(mediana_idade)
mediana_altura = dados_original_df_pd['Altura (cm)'].median()
print(mediana_idade)
mediana_peso = dados_original_df_pd['Peso (kg)'].median()
print(mediana_peso)

35.0
35.0
70.0

In [70]:
print('A mediana da idade é '+ str(mediana_idade) + '.')
print('A mediana da altura é '+ str(mediana_altura)+'.')
print('A mediana do peso é '+str(mediana_altura)+'.')

A mediana da idade é 35.0.
A mediana da altura é 169.0.
A mediana do peso é 169.0.

In [72]:
print('A mediana da idade é '+ str(round(mediana_idade)) + '.')
print('A mediana da altura é '+ str(round(mediana_altura))+'.')
print('A mediana do peso é '+str(round(mediana_altura))+'.')

A mediana da idade é 35.
A mediana da altura é 169.
A mediana do peso é 169.

In [78]:
# Nesse dataset, não há números repetidos. 
moda_idade = dados_original_df_pd['Idade'].mode()
print(moda_idade)
moda_altura = dados_original_df_pd['Altura (cm)'].mode()
print(moda_altura)
moda_peso = dados_original_df_pd['Peso (kg)'].mode()
print(moda_peso)

0    23
Name: Idade, dtype: int64
0      16
1     160
2     162
3     165
4     168
5     169
6     171
7     172
8     175
9     177
10    180
Name: Altura (cm), dtype: int64
0    58
Name: Peso (kg), dtype: int64

In [80]:
print('A moda da idade é '+ str(moda_idade) + '.')
print('A moda da altura é '+ str(moda_altura)+'.')
print('A moda do peso é '+str(moda_altura)+'.')

A moda da idade é 0    23
Name: Idade, dtype: int64.
A moda da altura é 0      16
1     160
2     162
3     165
4     168
5     169
6     171
7     172
8     175
9     177
10    180
Name: Altura (cm), dtype: int64.
A moda do peso é 0      16
1     160
2     162
3     165
4     168
5     169
6     171
7     172
8     175
9     177
10    180
Name: Altura (cm), dtype: int64.

In [82]:
desvio_idade = dados_original_df_pd['Idade'].std()
print(desvio_idade)
desvio_altura = dados_original_df_pd['Altura (cm)'].std()
print(desvio_altura)
desvio_peso = dados_original_df_pd['Peso (kg)'].std()
print(desvio_peso)

11.77593848798164
46.802680575912625
7.2913398195144055

In [84]:
print('O desvio-padrão da idade é '+str(round(desvio_idade))+'.')
print('O desvio-padrão da altura é '+str(round(desvio_altura))+'.')
print('O desvio-padrão da peso é '+str(round(desvio_peso))+'.')

O desvio-padrão da idade é 12.
O desvio-padrão da altura é 47.
O desvio-padrão da peso é 7.